stucore
doc
*~
*.bak
*.o
*.a
.rant.meta
alfc
alfc.exe
bin2c
bin2c.exe
version
*.log
defaults.h
viewer.h
lua_api.h
lua_common.h
lua_helper_viewer.c
lua_common_api.c
lua_helper.c
alfc.geany
lua_hash.h
Makefile
x11_fonts.h
atest
test
te$st

