stucore
doc
docs/lua_api
*.vpj
*.vpw
*.vpwhistu
*.vtg
*~
*.bak
*.o
*.a
.*.marks
*.make
.rant.meta
alfc
alfc.exe
bin2c
bin2c.exe
version
*.log
version.c
defaults.h
viewer.h
vblist.h
lua_api.h
lua_common.h
lua_helper_vblist.c
lua_helper_viewer.c
lua_common_api.c
lua_helper.c
alfc.geany
lua_hash.h
Makefile
gui_fonts.h
atest
test
te$st
.cproject
.project
Debug
Release
.metadata
.settings
guide
guide.exe
gcomp
gcomp.exe
gdump
gdump.exe
*.gd
*.toc
*.aux
*.idx
*.ilg
*.ind
*.pdf
*.dvi
*.tex.backup
*.hlp
alfc.1
alfc.1.gz
version.h
version.c

