# Example robodoc.rc
#
options:
	--documenttitle "Another Linux File Commander LUA Script API"
    --src .
    --doc ./doc/lua_api/alfc_lua_api
    --html
    --singledoc
    --index
    --tabsize 4
    --cmode
    --nopre
    --sections
	--toc
source items:
    SYNOPSIS
	EXAMPLE
items:
   SOURCE
    NAME
    COPYRIGHT
    SYNOPSIS
    USAGE
    FUNCTION
    DESCRIPTION
    PURPOSE
    AUTHOR
    CREATION DATE
    MODIFICATION HISTORY
    HISTORY
    INPUTS
    INPUT
    ARGUMENTS
    OPTIONS
    PARAMETERS
    SWITCHES
    OUTPUTS
	OUTPUT
    SIDE EFFECTS
    RESULTS
    RESULT
    RETURN VALUE
    EXAMPLE
    NOTE
    NOTES
    DIAGNOSTICS
    WARNINGS
    ERRORS
    BUGS
    TODO
    IDEAS
    PORTABILITY
    SEE ALSO
    METHODS
    NEW METHODS
    ATTRIBUTES
    NEW ATTRIBUTES
    TAGS
    COMMANDS
    DERIVED FROM
    DERIVED BY
    USES
    CHILDREN
    USED BY
    PARENTS
ignore items:
    BUGS
item order:
	NAME
	FUNCTION
	SYNOPSIS
	INPUT
    INPUTS
	RESULTS
	OUTPUT
    OUTPUTS
	SEE ALSO
	AUTHOR
	HISTORY
ignore items:
    HISTORY
headertypes:
	u  Unittests robo_unittest
    x  "System tests"  robo_sys_tests
    e  "Makefile entries"  robo_mk_entries
ignore files:
    README
    CVS
    *.bak
    *~
	stucore
	.git
	doc
accept files:
    lua_api.c
    lua_api.h
remark begin markers:
    /*
    #
remark end markers:
    */
    #

